################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/CMCS.Applets/CMCS.ADGS/CMCS.ADGS.Win/bin/Logs
/CMCS.Applets/CMCS.ADGS/CMCS.ADGS.Win/obj/x86
/CMCS.Applets/CMCS.ADGS/obj
*.pdb
/CMCS.Applets/CMCS.CZYHandler/obj/x86
/CMCS.Applets/CMCS.EPCEmpower/obj/x86
*.zip
/CMCS.Applets/CMCS.TrainScrew/obj/x86
/CMCS.Applets/CMCS.TrainTipper/bin/Logs
/CMCS.Applets/CMCS.WeighCheck/CMCS.AssayData/bin/Logs
/CMCS.CarTransport/CMCS.CarTransport.AutoTruck/bin/Logs
/CMCS.CarTransport/CMCS.CarTransport.BeltSampler/bin/Logs
/CMCS.CarTransport/CMCS.CarTransport.JxSampler/bin/Logs
/CMCS.CarTransport/CMCS.CarTransport.Out/bin/Logs
/CMCS.CarTransport/CMCS.CarTransport.Queue/bin/Logs
/CMCS.CarTransport/CMCS.CarTransport.RLBeltSampler/bin/Logs
/CMCS.CarTransport/CMCS.CarTransport.Weighter/bin/Logs
/CMCS.DumblyConcealer/CMCS.DumblyConcealer.Win/bin/Logs
/CMCS.Applets/CMCS.AddNative/bin/Logs
/CMCS.Applets/CMCS.AddNative/bin/CMCS.DapperDber.xml
/CMCS.Applets/CMCS.AddNative/bin/CMCS.DapperDber.dll
/CMCS.Applets/CMCS.AddNative/bin/CMCS.Common.dll
/CMCS.Applets/CMCS.AddNative/bin/CMCS.AddNative.vshost.exe.manifest
/CMCS.Applets/CMCS.AddNative/bin/CMCS.AddNative.vshost.exe.config
/CMCS.Applets/CMCS.AddNative/bin/CMCS.AddNative.vshost.exe
/CMCS.Applets/CMCS.AddNative/bin/CMCS.AddNative.exe.lnk
/CMCS.Applets/CMCS.AddNative/bin/CMCS.AddNative.exe.config
/CMCS.Applets/CMCS.AddNative/bin/CMCS.AddNative.exe
/CMCS.Applets/CMCS.ADGS/CMCS.ADGS/bin/CMCS.ADGS.dll
/CMCS.Applets/CMCS.ADGS/CMCS.ADGS/obj
/CMCS.Applets/CMCS.ADGS/CMCS.ADGS.ConfigSetting/obj/x86
/CMCS.Applets/CMCS.ADGS/CMCS.ADGS.Win/bin/CMCS.ADGS.Win.vshost.exe.manifest
/CMCS.Applets/CMCS.ADGS/CMCS.ADGS.Win/bin/CMCS.ADGS.Win.vshost.exe.config
/CMCS.Applets/CMCS.ADGS/CMCS.ADGS.Win/bin/CMCS.ADGS.Win.vshost.exe
/CMCS.Applets/CMCS.ADGS/CMCS.ADGS.Win/bin/CMCS.ADGS.Win.exe.config
/CMCS.Applets/CMCS.ADGS/CMCS.ADGS.Win/bin/CMCS.ADGS.Win.exe
/CMCS.Applets/CMCS.ADGS/CMCS.ADGS.Win/bin/CMCS.ADGS.dll
/CMCS.Applets/CMCS.ADGS/CMCS.ADGS.Win/bin/CMCS.ADGS.ConfigSetting.exe.config
/CMCS.Applets/CMCS.ADGS/CMCS.ADGS.Win/bin/CMCS.ADGS.ConfigSetting.exe
/CMCS.Applets/CMCS.CommonADGS/CMCS.CommonADGS/bin/CMCS.CommonADGS.dll
/CMCS.Applets/CMCS.CommonADGS/CMCS.CommonADGS/obj
/CMCS.Applets/CMCS.CommonADGS/CMCS.CommonADGS.ConfigSetting/obj/x86
/CMCS.Applets/CMCS.CommonADGS/CMCS.CommonADGS.Server/bin/Logs
/CMCS.Applets/CMCS.CommonADGS/CMCS.CommonADGS.Server/bin/CMCS.CommonADGS.Server.vshost.exe.manifest
/CMCS.Applets/CMCS.CommonADGS/CMCS.CommonADGS.Server/bin/CMCS.CommonADGS.Server.vshost.exe.config
/CMCS.Applets/CMCS.CommonADGS/CMCS.CommonADGS.Server/bin/CMCS.CommonADGS.Server.vshost.exe
/CMCS.Applets/CMCS.CommonADGS/CMCS.CommonADGS.Server/bin/CMCS.CommonADGS.Server.exe.config
/CMCS.Applets/CMCS.CommonADGS/CMCS.CommonADGS.Server/bin/CMCS.CommonADGS.Server.exe
/CMCS.Applets/CMCS.CommonADGS/CMCS.CommonADGS.Server/bin/CMCS.CommonADGS.dll
/CMCS.Applets/CMCS.CommonADGS/CMCS.CommonADGS.Server/obj/x86
/CMCS.Applets/CMCS.CommonADGS/CMCS.CommonADGS.Win/bin/Logs
/CMCS.Applets/CMCS.CommonADGS/CMCS.CommonADGS.Win/bin/CMCS.CommonADGS.Win.vshost.exe.manifest
/CMCS.Applets/CMCS.CommonADGS/CMCS.CommonADGS.Win/bin/CMCS.CommonADGS.Win.vshost.exe.config
/CMCS.Applets/CMCS.CommonADGS/CMCS.CommonADGS.Win/bin/CMCS.CommonADGS.Win.vshost.exe
/CMCS.Applets/CMCS.CommonADGS/CMCS.CommonADGS.Win/bin/CMCS.CommonADGS.Win.exe.config
/CMCS.Applets/CMCS.CommonADGS/CMCS.CommonADGS.Win/bin/CMCS.CommonADGS.Win.exe
/CMCS.Applets/CMCS.CommonADGS/CMCS.CommonADGS.Win/bin/CMCS.CommonADGS.dll
/CMCS.Applets/CMCS.CommonADGS/CMCS.CommonADGS.Win/obj/x86
/CMCS.Applets/CMCS.CommonSynch/bin/CMCS.CommonSynch.vshost.exe.manifest
/CMCS.Applets/CMCS.CommonSynch/bin/CMCS.CommonSynch.vshost.exe.config
/CMCS.Applets/CMCS.CommonSynch/bin/CMCS.CommonSynch.vshost.exe
/CMCS.Applets/CMCS.CommonSynch/bin/CMCS.CommonSynch.exe.config
/CMCS.Applets/CMCS.CommonSynch/bin/CMCS.CommonSynch.exe
/CMCS.Applets/CMCS.CommonSynch/obj/x86
/CMCS.Applets/CMCS.EPCEmpower/bin/CMCS.EPCEmpower.vshost.exe.manifest
/CMCS.Applets/CMCS.EPCEmpower/bin/CMCS.EPCEmpower.vshost.exe
/CMCS.Applets/CMCS.EPCEmpower/bin/CMCS.EPCEmpower.exe
/CMCS.Applets/CMCS.TrainTipper/bin/CMCS.TrainTipper.vshost.exe.manifest
/CMCS.Applets/CMCS.TrainTipper/bin/CMCS.TrainTipper.vshost.exe.config
/CMCS.Applets/CMCS.TrainTipper/bin/CMCS.TrainTipper.vshost.exe
/CMCS.Applets/CMCS.TrainTipper/bin/CMCS.TrainTipper.exe.config
/CMCS.Applets/CMCS.TrainTipper/bin/CMCS.TrainTipper.exe
/CMCS.Applets/CMCS.TrainTipper/obj/x86
/CMCS.Applets/CMCS.UnloadSampler/bin/CMCS.UnloadSampler.vshost.exe.manifest
/CMCS.Applets/CMCS.UnloadSampler/bin/CMCS.UnloadSampler.vshost.exe.config
/CMCS.Applets/CMCS.UnloadSampler/bin/CMCS.UnloadSampler.vshost.exe
/CMCS.Applets/CMCS.UnloadSampler/bin/CMCS.UnloadSampler.exe.config
/CMCS.Applets/CMCS.UnloadSampler/bin/CMCS.UnloadSampler.exe
/CMCS.Applets/CMCS.UnloadSampler/bin/CMCS.Monitor.dll
/CMCS.Applets/CMCS.UnloadSampler/obj/x86
/CMCS.Applets/CMCS.WeighCheck/CMCS.WeighCheck/obj
/CMCS.Applets/CMCS.WeighCheck/CMCS.WeighCheck.MakeCheck/bin/CMCS.WeighCheck.MakeCheck.vshost.exe.config
/CMCS.Applets/CMCS.WeighCheck/CMCS.WeighCheck.MakeCheck/bin/CMCS.WeighCheck.MakeCheck.vshost.exe
/CMCS.Applets/CMCS.WeighCheck/CMCS.WeighCheck.MakeCheck/bin/CMCS.WeighCheck.MakeCheck.exe.config
/CMCS.Applets/CMCS.WeighCheck/CMCS.WeighCheck.MakeCheck/bin/CMCS.WeighCheck.MakeCheck.exe
/CMCS.Applets/CMCS.WeighCheck/CMCS.WeighCheck.MakeCheck/obj/x86
/CMCS.Applets/CMCS.WeighCheck/CMCS.WeighCheck.MakeWeight/bin/CMCS.WeighCheck.MakeWeight.vshost.exe.config
/CMCS.Applets/CMCS.WeighCheck/CMCS.WeighCheck.MakeWeight/bin/CMCS.WeighCheck.MakeWeight.vshost.exe
/CMCS.Applets/CMCS.WeighCheck/CMCS.WeighCheck.MakeWeight/bin/CMCS.WeighCheck.MakeWeight.exe.config
/CMCS.Applets/CMCS.WeighCheck/CMCS.WeighCheck.MakeWeight/bin/CMCS.WeighCheck.MakeWeight.exe
/CMCS.Applets/CMCS.WeighCheck/CMCS.WeighCheck.MakeWeight/obj/x86
/CMCS.Applets/CMCS.WeighCheck/CMCS.WeighCheck.SampleCheck/bin/CMCS.WeighCheck.SampleCheck.vshost.exe.config
/CMCS.Applets/CMCS.WeighCheck/CMCS.WeighCheck.SampleCheck/bin/CMCS.WeighCheck.SampleCheck.vshost.exe
/CMCS.Applets/CMCS.WeighCheck/CMCS.WeighCheck.SampleCheck/bin/CMCS.WeighCheck.SampleCheck.exe.config
/CMCS.Applets/CMCS.WeighCheck/CMCS.WeighCheck.SampleCheck/bin/CMCS.WeighCheck.SampleCheck.exe
/CMCS.Applets/CMCS.WeighCheck/CMCS.WeighCheck.SampleCheck/obj/x86
/CMCS.Applets/CMCS.WeighCheck/CMCS.WeighCheck.SampleWeigh/bin/CMCS.WeighCheck.SampleWeigh.vshost.exe.manifest
/CMCS.Applets/CMCS.WeighCheck/CMCS.WeighCheck.SampleWeigh/bin/CMCS.WeighCheck.SampleWeigh.vshost.exe.config
/CMCS.Applets/CMCS.WeighCheck/CMCS.WeighCheck.SampleWeigh/bin/CMCS.WeighCheck.SampleWeigh.vshost.exe
/CMCS.Applets/CMCS.WeighCheck/CMCS.WeighCheck.SampleWeigh/bin/CMCS.WeighCheck.SampleWeigh.exe.config
/CMCS.Applets/CMCS.WeighCheck/CMCS.WeighCheck.SampleWeigh/bin/CMCS.WeighCheck.SampleWeigh.exe
/CMCS.Applets/CMCS.WeighCheck/CMCS.WeighCheck.SampleWeigh/obj/x86
/CMCS.CarTransport/CMCS.CarTransport/obj
/CMCS.CarTransport/CMCS.CarTransport.JxSampler/bin/CMCS.CarTransport.JxSampler.vshost.exe.manifest
/CMCS.CarTransport/CMCS.CarTransport.JxSampler/bin/CMCS.CarTransport.JxSampler.vshost.exe.config
/CMCS.CarTransport/CMCS.CarTransport.JxSampler/bin/CMCS.CarTransport.JxSampler.vshost.exe
/CMCS.CarTransport/CMCS.CarTransport.JxSampler/bin/CMCS.CarTransport.JxSampler.exe.config
/CMCS.CarTransport/CMCS.CarTransport.JxSampler/bin/CMCS.CarTransport.JxSampler.exe
/CMCS.CarTransport/CMCS.CarTransport.Out/bin/CMCS.CarTransport.Out.vshost.exe.manifest
/CMCS.CarTransport/CMCS.CarTransport.Out/bin/CMCS.CarTransport.Out.vshost.exe.config
/CMCS.CarTransport/CMCS.CarTransport.Out/bin/CMCS.CarTransport.Out.exe.config
/CMCS.CarTransport/CMCS.CarTransport.Out/bin/CMCS.CarTransport.Out.exe
/CMCS.CarTransport/CMCS.CarTransport.Out/obj/x86
/CMCS.CarTransport/CMCS.CarTransport.Queue/bin/CMCS.CarTransport.Queue.vshost.exe.manifest
/CMCS.CarTransport/CMCS.CarTransport.Queue/bin/CMCS.CarTransport.Queue.vshost.exe.config
/CMCS.CarTransport/CMCS.CarTransport.Queue/bin/CMCS.CarTransport.Queue.vshost.exe
/CMCS.CarTransport/CMCS.CarTransport.Queue/bin/CMCS.CarTransport.Queue.exe.config
/CMCS.CarTransport/CMCS.CarTransport.Queue/bin/CMCS.CarTransport.Queue.exe
/CMCS.CarTransport/CMCS.CarTransport.Queue/obj/x86
*.log
/CMCS.CarTransport/CMCS.CarTransport.Weighter/obj/x86
/CMCS.Common/CMCS.Common/bin/CMCS.Common.dll
/CMCS.Common/CMCS.Common/obj
/CMCS.Common/CMCS.DapperDber/bin/CMCS.DapperDber.dll
/CMCS.Common/CMCS.DapperDber/obj
/CMCS.Common/CMCS.DotNetBar.Utilities/obj
/CMCS.Common/CMCS.Forms.UserControls/obj
/CMCS.DumblyConcealer/CMCS.DumblyConcealer/bin/CMCS.DumblyConcealer.Core.dll
/CMCS.DumblyConcealer/CMCS.DumblyConcealer/bin/CMCS.DumblyConcealer.dll
/CMCS.DumblyConcealer/CMCS.DumblyConcealer/obj
/CMCS.DumblyConcealer/CMCS.DumblyConcealer.Win/bin/CMCS.DumblyConcealer.Win.vshost.exe.manifest
/CMCS.DumblyConcealer/CMCS.DumblyConcealer.Win/bin/CMCS.DumblyConcealer.Win.vshost.exe.config
/CMCS.DumblyConcealer/CMCS.DumblyConcealer.Win/bin/CMCS.DumblyConcealer.Win.vshost.exe
/CMCS.DumblyConcealer/CMCS.DumblyConcealer.Win/bin/CMCS.DumblyConcealer.Win.exe.config
/CMCS.DumblyConcealer/CMCS.DumblyConcealer.Win/bin/CMCS.DumblyConcealer.Win.exe
/CMCS.DumblyConcealer/CMCS.DumblyConcealer.Win/bin/CMCS.DumblyConcealer.vshost.exe
/CMCS.DumblyConcealer/CMCS.DumblyConcealer.Win/bin/CMCS.DumblyConcealer.dll
/CMCS.DumblyConcealer/CMCS.DumblyConcealer.Win/bin/CMCS.DumblyConcealer.Core.exe
/CMCS.DumblyConcealer/CMCS.DumblyConcealer.Win/obj/x86
/CMCS.Hardware/BeltBalancer.SM6000/obj
/CMCS.Hardware/HikVisionSDK.Core/obj
/CMCS.Hardware/IOC.JMDM20DIOV2/obj
/CMCS.Hardware/LED.Dynamic.YB19/obj
/CMCS.Hardware/LED.YB14/obj
/CMCS.Hardware/LED.YB19/obj
/CMCS.Hardware/RW.LZR12/obj
/CMCS.Hardware/RW.LZR12.Net/obj
/CMCS.Hardware/RW.UHFReader18/obj
/CMCS.Hardware/SPCL.ZHLF51/obj
/CMCS.Hardware/ThinkCameraSDK.Core/obj
/CMCS.Hardware/Wagon_Meter_TOLEDO_IND231/obj
/CMCS.Hardware/WB.JingZhong/obj
/CMCS.Hardware/WB.TOLEDO.IND245/obj
/CMCS.Hardware/WB.TOLEDO.YAOHUA/obj
/CMCS.Test/CMCS.DataTester/bin/CMCS.DataTester.vshost.exe.manifest
/CMCS.Test/CMCS.DataTester/bin/CMCS.DataTester.vshost.exe.config
/CMCS.Test/CMCS.DataTester/bin/CMCS.DataTester.vshost.exe
/CMCS.Test/CMCS.DataTester/bin/CMCS.DataTester.exe.config
/CMCS.Test/CMCS.DataTester/bin/CMCS.DataTester.exe
/CMCS.Applets/CMCS.AddNative/obj/x86/Release
/CMCS.Applets/CMCS.AddNative/obj/x86/Release
/CMCS.Applets/CMCS.AddNative/obj/x86/Debug
/CMCS.CarTransport/CMCS.CarTransport.JxSampler/obj/x86
/CMCS.CarTransport/CMCS.CarTransport.Weighter/bin/CMCS.CarTransport.Weighter.vshost.exe.manifest
/CMCS.CarTransport/CMCS.CarTransport.Weighter/bin/CMCS.CarTransport.Weighter.vshost.exe.config
/CMCS.CarTransport/CMCS.CarTransport.Weighter/bin/CMCS.CarTransport.Weighter.vshost.exe
/CMCS.CarTransport/CMCS.CarTransport.Weighter/bin/CMCS.CarTransport.Weighter.exe.config
/CMCS.Hardware/BeltBalancer.SM6000/bin/BeltBalancer.SM6000.dll
/CMCS.Hardware/ThinkCameraSDK.Core/bin/Debug/ThinkCameraSDK.Core.dll
/CMCS.Hardware/ThinkCameraSDK.Core/bin/Debug/ThinkCameraSDK.Core.dll.config
/CMCS.Hardware/ThinkCameraSDK.Core/bin/Release
/CMCS.Hardware/Wagon_Meter_TOLEDO_IND231/bin/Wagon_Meter_TOLEDO_IND231.dll
/CMCS.Hardware/WB.JingZhong/bin/WB.TOLEDO.YAOHUA.dll
/CMCS.Hardware/WB.JingZhong/bin/WB.TOLEDO.IND245.dll
/CMCS.Hardware/WB.TOLEDO.YAOHUA/bin/WB.TOLEDO.YAOHUA.dll
/CMCS.Hardware/WB.TOLEDO.YAOHUA/bin/WB.TOLEDO.IND245.dll
/CMCS.Resources/CefGlue/x64/CEF3
/CMCS.Test/CMCS.DataTester/obj/x86
